body {
  margin: 20px;
}

/* 컴포넌트 */
.term {
  --accent-color: #296897;
  --text-size: 14px;

  display: flow-root;
  font-size: var(--text-size);

  .subject {
    font-weight: 600;
    color: var(--accent-color);
    font-size: 1.2em;
  }

  .subject,
  .description {
    float: right;
    width: calc(100% - 76px);
    line-height: 1.5;
  }

  .thumbnail {
    float: left;
  }

  .description {
    margin-top: 4px;
    font-size: 1em;
  }
}

/* 레이아웃 */
.terms {
  --gray-700: #7a7a7a;
  --gray-600: #ccc;
  --gray-500: #eee;

  width: 250px;
  padding: 16px;
  background: var(--gray-600) linear-gradient(180deg, var(--gray-600) 0%, var(--gray-500) 100%);
  border: 1px solid var(--gray-700);
  border-radius: 5px;

  .headline {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .term {
    margin-top: 12px;

    &:nth-child(2n-1) {
      .subject,
      .description {
        float: left;
      }

      .thumbnail {
        float: right;
      }
    }
  }
}
