body {
  margin: 20px;
}

h1 {
  margin-block-end: 20px;
}

.members-wrapper {
  position: relative;
  background-color: #ffc;
  block-size: 500px;
  overflow: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  col.number {
    inline-size: 10%;
  }
  col.name {
    inline-size: 20%;
  }
  col.email {
    inline-size: 30%;
  }
  col.phone {
    inline-size: 40%;
  }

  thead {
    position: sticky;
    top: 0;
    background-color: var(--black);
    color: var(--white);

    th {
      padding: 10px;
    }
  }

  tbody {
    tr {
      background-color: var(--white);
      text-align: center;

      &:nth-child(2n) {
        background-color: var(--gray);
      }

      td {
        padding: 10px;
      }
    }
  }

  th,
  td {
    white-space: nowrap;
  }
}
